<article class="post">
  <div class="title">
    <p><strong>{{title}}</strong></p>
    <div>
      <img src="{{post_url}}" height= 400 width=250 />
    </div>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
  <div class="watch-options"> Where to Watch: {{1}}</div>
    {{vote_count}} {{format_plural "Viewer" vote_count}}: added by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>